.nav {
  display: none;
  position: relative;
  width: 100vw;
}

.nav__close-btn {
  width: 40px;
  height: 40px;
  background-image: url(../../images/close-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  outline: none;
  background-color: #0E0E0E;
  position: fixed;
  top: 23px;
  right: 23px;
  cursor: pointer;
  transition: .3s;
}

.nav__close-btn:hover {
  opacity: .8;
}

@media screen and (min-width: 375px) and (max-width: 744px) {
  .nav__close-btn {
    top: 13px;
    right: 13px;
  }
}

.nav__container {
  position: fixed;
  width: 520px;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: #0E0E0E;
}

@media screen and (min-width: 375px) and (max-width: 744px) {
  .nav__container {
    width: 100vw;
  }
}

.nav__element {
  margin: 0 auto 22px;
  display: flex;
  justify-content: center;
}

.nav__link {
  font-family: 'Open Sans';
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  text-decoration: none;
  transition: .3s;

  text-align: center;
  margin: 0 auto 22px;
}

.nav__link:hover {
  opacity: .8;
}

@media screen and (min-width: 375px) and (max-width: 744px) {
  .nav__link {
    margin: 0 auto 15px;
  }
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 159px auto 0;
}

.nav__overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  right: 0;
  top: 0;
  opacity: .6;
  background-color: #1E1E1E;
}

.nav_opened {
  display: block;
}

