.header {
  width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 58px 0;
}


.header__menu {
  display: none;
  background-image: url(../../images/menu-icon.svg);
  height: 46px;
  width: 66px;
  background-repeat: no-repeat;
  background-size: contain;
}

.header__logo {
  width: 124px;
  height: 35px;
}

.header__links {
  width: 561px;
  display: flex;
  justify-content: space-between;
}

.header__link {
  font-family: 'Open Sans';
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  text-decoration: none;
  transition: .3s;
}

.header__link:hover {
  opacity: .8;
}

@media screen and (min-width: 1279px) and (max-width: 1599px) {
  .header {
    width: 1180px;
    padding: 58px 0;
  }
}

@media screen and (min-width: 744px) and (max-width: 1279px) {
  .header {
    width: 714px;
    padding: 35px 0;
  }

  .header__links {
    display: none;
  }

  .header__menu {
    display: block;
  }
}


@media screen and (min-width: 375px) and (max-width: 744px) {
  .header {
    width: 344px;
    padding: 20px 0;
  }
  
  .header__menu {
    display: block;
    height: 36px;
    width: 50px;
  }
  
  .header__logo {
    width: 83px;
    height: 23px;
  }
  
  .header__links {
    display: none;
  }
}