.line {
  width: 1400px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0 auto;
}

@media screen and (min-width: 1279px) and (max-width: 1599px) {
  .line {
    width: 1180px;
  }
}

@media screen and (min-width: 744px) and (max-width: 1279px) {
  .line {
    width: 714px;
  }
}

@media screen and (min-width: 320px) and (max-width: 744px) {
  .line {
    width: 290px;
  }
}